* {
    font-family: cursive;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

input {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: forestgreen;
}

button {
    padding: 12px;
    background-color: forestgreen;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: green;
}

#img {
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    color: #333;
}

footer a {
    color: #0066cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    button {
        width: 70%;
    }

    input {
        width: 100%;
    }
}
